<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Purchaser</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script async th:src="@{/js/confirm-password.js}"></script>
</head>
<body>
<header>
    <h1>Authorization App</h1>
    <nav>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/purchasers/register}">Purchaser register</a>
        <a th:href="@{/purchasers/login}">Purchaser login</a>
        <a th:href="@{/vendors/register}">Vendor register</a>
        <a th:href="@{/vendors/login}">Vendor login</a>
    </nav>
</header>

<main>
    <h2>Register</h2>
    <hr>

    <form id="register-form" th:action="@{/purchasers/register}" method="post">
        <label for="username">Username</label>
        <br>
        <input type="text" id="username" name="username" placeholder="Enter your username"/>
        <br><br>

        <label for="email">Email</label>
        <br>
        <input type="email" id="email" name="email" placeholder="Enter your email"/>
        <br><br>

        <label for="password">Password</label>
        <br>
        <input type="password" id="password" name="password" placeholder="Enter your password"/>
        <br><br>

        <label for="confirm-password">Confirm password</label>
        <br>
        <input type="password" id="confirm-password" name="confirm-password" placeholder="Enter your password again"/>
        <br><br>

        <label for="birthdate">Birthdate</label>
        <br>
        <input type="date" id="birthdate" name="birthDate" placeholder="Enter your birthdate"/>
        <br><br>

        <button class="info" type="submit">Register</button>
    </form>
</main>
</body>
</html>
